body {
    background-color: white;
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0; 
}

header {
    background-color:white;
    color: rgb(196, 46, 46);
    padding: 8px;
    text-align: center;
    text-shadow: 9PX 1PX 8PX rgba(135, 2, 2, 0.94); 
   font: size 25px;  
}

nav {
    background-color: #333;
    color: white;
    overflow: hidden;
    padding: 10px;
}
nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #ddd;
    color: black;
}

section {
    background-color: white;
    padding: 10px;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

.carousel {
    margin-left: 15%;
    margin-right: 15%;
    }
    
    ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    }
    
    .slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    }
    
    ul.slides input {
    display: none;
    }
    
    
    .slide-container {
    display: block;
    }
    
    .slide-image {
    display:block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
    }
    
    .slide-image img {
    width:100%;
    min-width: 100%;
    height: 100%;
    }
    
    .carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
    }
    
    .carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
    }
    
    .slide-image:hover + .carousel-controls label{
    opacity: 0.5;
    }
    
    .carousel-controls label:hover {
    opacity: 1;
    }
    
    .carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
    }
    
    .carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
    }
    
    .carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
    }
    
    .carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
    }
    
    input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
    }
    
    input:checked + .slide-container .carousel-controls label {
    display: block;
    }
    
    input#img-1:checked ~ .carousel-dots label#img-dot-1,
    input#img-2:checked ~ .carousel-dots label#img-dot-2,
    input#img-3:checked ~ .carousel-dots label#img-dot-3,
    input#img-4:checked ~ .carousel-dots label#img-dot-4,
    input#img-5:checked ~ .carousel-dots label#img-dot-5,
    input#img-6:checked ~ .carousel-dots label#img-dot-6 {
    opacity: 1;
    }
    
    input:checked + .slide-container .nav label { display: block; }
    
    #text {
        font-style:;
        
        color: #000000;
        float: right;
        padding-right: 42%;
        margin-top: 0%;
        padding:relative;
    
    }
    #layout {
        width: 1270px;
        border: 1px solid ;
        border-color:black ;
        box-shadow:9px 0px 34px rgb(242, 241, 241) ;
    }
    #p2 {
        font-size: 20px;
        color: #fffefe;
        float: center;
        width: 65%;
        position: relative;
        
        
    
    }
    #p3 {
        border: 2px solid;
        border-color: #000000;
        color: #ddd;
        width: 56%;
        position: relative;
        text-shadow: 1PX 1PX 27PX whitesmoke;
        
    
    }
    table {
        color: #2e0c0c;
    }